$brand-primary: #493d55;
$brand-secondary: #00807d;
$button-box: #454f55;
$heading: #00807d;
$Label: #454f55;
$Label-value: #454f55;
$link: #00807d;
$notbook: #454f55;
$tooltip: #493d55;
$border: #e5e5e5;
$menu-main-title: #454f55;
